# This file represents a Laboratory entity in the DESF framework
x-desf-entity: &desf-laboratory
  name: "Laboratory A"
  type: "Laboratory"
  description: "Collection of 1 Compute Node, 1 Communication Node for distributed simulation"

services:

  dpsim_lab_a:
    image: antoniopicone/dpsim-arm64-dev:1.0.3
    labels:
      desf.entity.type: "ComputeNode"
      desf.entity.description: "Docker container running DPSim electric simulation"
      desf.laboratory: "Laboratory A"
    volumes:
      - ./app:/app
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    working_dir: /app
    tty: true
    #depends_on:
    #  - villas_lab_a
    command: /usr/bin/python3 dpsim_lab_a_dp.py
    environment:
      - HOST_DEST=villas_lab_a
      - HOST_SOURCE=0.0.0.0
      - PORT_DEST=12001
      - PORT_SOURCE=12000
      - TIME_STEP_MILLIS=${TIME_STEP_MILLIS}
      - TAU_MILLIS=${TAU_MILLIS}
      - PYTHONUNBUFFERED=1
      - V_REF_VS=${V_REF_VS}
      - BOOTSTRAP_VOLTAGE_REAL=${BOOTSTRAP_VOLTAGE_REAL}
      - BOOTSTRAP_VOLTAGE_IMAG=${BOOTSTRAP_VOLTAGE_IMAG}
      - FREQUENZA=${FREQUENZA}
      - TIME_STOP=${TIME_STOP}
    privileged: true
    cap_add:
      - SYS_NICE       # Necessary for real-time scheduling
      - IPC_LOCK       # Optional for memory locking
    security_opt:
      - seccomp:unconfined
    devices:
      - "/dev/pts:/dev/pts"
    cpuset: "0,1"  # Pin to CPU cores 0 and 1

  villas_lab_a:
    labels:
      desf.entity.type: "CommunicationNode"
      desf.entity.description: "Docker container running Villas Node for network communication"
      desf.laboratory: "Laboratory A"
    environment:
      TASK: "VILLAS_LAB_A"
      ITERATIONS: 100000
    image: registry.git.rwth-aachen.de/acs/public/villas/node
    volumes:
      - ./config:/configs
      - ./logs:/logs
    tty: true
    entrypoint: ["sh"]
    command: ["-c", "villas-node /configs/path.conf"]
    cap_add:
      - SYS_NICE
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M

# Networks are defined in the main docker-compose.yaml
# This file is meant to be used as a service definition only